<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Positive Newsfeed</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__logo">Positive Newsfeed</div>
      <div id="auth">
        <a href="/auth/signup">Register</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/createpost">Create Post</a>
      </div>
    </header>

    <div class="wrapper">
      <div class="news">
        <% if(articles != null) { %> <% articles.forEach(function(article,
        index) { %>
        <a href="/article/<%- article.post_id %> " class="news__card">
          <img src="<%- article.picture_url %>" alt="<%- article.caption %>" />
          <p>
            Posted by <%- article.name %> on <%- article.time_posted.slice(0,10)
            %>
          </p>
          <h2><%- article.caption %></h2>
        </a>

        <% }) %> <% } else{ %> No Posts Found. <% } %>
      </div>
    </div>
  </body>
</html>
